
$color-de-fondo:rgba(243, 250, 240, 0.897);
$estilo-fuente: 'Times New Roman', Times, serif;

.conteiner-conocenos {
    background-color:  $color-de-fondo;
.h1-conocenos {
    background-color: #000000;
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.d-flex {
    display: flex;
    align-items: center;
}

.img-maximo-jere {
    max-width: 100%;
    height: auto;
}

.parrafo-derecha-img {
    margin-left: 20px;
    color: rgb(0, 0, 0);
    font-family: $estilo-fuente;
    font-size: xx-large;
}
}